body {
  position: relative;
}

#winner-board{
  position: absolute;
  width: 40%;
  height: 300px;
  left: 30%;
  margin: 50px;
  background-color: rgba(128, 192, 255, 0.75);
  text-align: center;
  font-size: 70px;
}

.inactive {
  color: #aaa;
}
